{{- $codespaces := env "CODESPACES" | not | not -}}
{{- $ci := env "CI" | not | not -}}

encryption = "age"
[age]
  identity = "~/.chez.txt"
  recipient = "age1n4nhw67j8ds89gavcf7s8d9ty2ceu7z8g93d3f3r3rg57er9lqfq8cttyp"

sourceDir = "{{ .chezmoi.sourceDir }}"

[data]
  name = "Juan Pablo Buritica"
  codespaces = {{ env "CODESPACES" | not | not }}
  email = "buritica@gmail.com"

[data.machine]
  hostname = "{{ .chezmoi.hostname }}"
  {{- if eq .chezmoi.hostname "crowntail" }}
  profile = "home"
  emoji = "🏡"
  description = "Personal home workstation"
  {{- else if eq .chezmoi.hostname "deltatail" }}
  profile = "work"
  emoji = "💼"
  description = "Work laptop"
  {{- else if eq .chezmoi.hostname "halfmoon" }}
  profile = "media"
  emoji = "🎥"
  description = "Video editing station"
  {{- else }}
  profile = "default"
  emoji = "🔬"
  description = "Test machine"
  {{- end }}
