tap "heroku/brew"
tap "homebrew/bundle"
tap "homebrew/cask-fonts"
tap "homebrew/cask-versions"
tap "homebrew/services"

brew "ack"
brew "asdf"
brew "awscli"
brew "chezmoi"
brew "colima"
brew "coreutils"
brew "direnv"
brew "docker-compose"
brew "ffmpeg"
brew "findutils"
brew "gh"
brew "gifsicle"
brew "gist"
brew "git-extras"
brew "gnu-tar"
brew "gnupg"
brew "go"
brew "heroku/brew/heroku"
brew "httpie"
brew "hub"
brew "jq"
brew "mas"
brew '"moreutils"
brew "pipx"
brew "subversion"
brew "tailscale"
brew "tree"
brew "wget"

cask "1password-cli"
cask "1password"
cask "adobe-creative-cloud"
cask "alfred"
cask "audio-hijack"
cask "discord"
cask "docker"
cask "figma"
cask "font-inconsolata"
cask "font-montserrat"
cask "font-open-sans"
cask "font-sanchez"
cask "font-source-code-pro"
cask "github"
cask "gmvault"
cask "google-chrome"
cask "google-drive"
cask "grammarly"
cask "iterm2"
cask "ledger-live"
cask "loopback"
cask "microsoft-office"
cask "minecraft"
cask "notion"
cask "obs"
cask "obsidian"
cask "qfinder-pro"
cask "rectangle"
cask "signal"
cask "slack"
cask "soundsource"
cask "spotify"
cask "streamlabs"
cask "visual-studio-code"
cask "vlc"
cask "whatsapp"
cask "zoom"

mas "1Password for Safari", id: 1569813296
mas "Bear", id: 1091189122
mas "DaisyDisk", id: 411643860
mas "Fantastical", id: 975937182
mas "GoLinks", id: 1478821913
mas "Keynote", id: 409183694
mas "Numbers", id: 409203825
mas "Pages", id: 409201541
mas "Tailscale", id: 1475387142
mas "Whisper", id: 1668083311